<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">

        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}"> -->

        <title>Ninja Gold</title>
    </head>
    <div class="container">
    <body>
        <div>
            <div class = "pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-5">Ninja's gold count: <span class="text-warning">{{ session['count'] }}</span> </h1>
                <p class="lead">This greedy ninja raids different places to either scavenge or wager for gold. </p>
            </div>

            <div class="card-deck mb-3 text-center">
                {% for key, val in dict.items() %}
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ key }}</h4>
                    </div>
                    <p>+ {{ val }} gold coins </p>
                    <form action="/process_money" method="post">
                        <input type="hidden" name="getCoin" value='{{ key }}'>
                        <input type="submit" class="btn btn-sm btn-secondary" value="Find Gold!" >
                    </form>
                </div>
                {% endfor %}
            </div>

            <h3>Activity:</h3>
             <div class="text-center border border-default">
                {% for index in range(session['activity_log']|length, -1,-1) %}
                    <p><span class="{{ session['color'] }}">{{ session['activity_log'][index] }}</span> </p>
                {% endfor %}
            </div>
            <div class = "form-group">
                <form action = "/reset" method = "post">
                    <p></p>
                    <input type = "submit" class="btn btn-primary" value = "Reset">
                </form>
            </div>
        </div>
    </body>

</html>
